* {
	margin: 0 auto;
	padding: 0;
	font-family: "DengXian";
}

body{
	width: 100%;
	min-width: 1600px;
	background: #EEEEEE;
	zoom: 0.8;
}



.xiang{
	width: 70%;
	height: 459px;
	float: left;
	position:relative;
	left:54%;
	transform:translateX(-50%);
	margin-top: 5%;

}

.xiang-1{
	width: 49.5%;
	height: 75px;

	float: left;
	display: inline-block;
}

.xiang-2{
	width: 49.5%;
	height: 90px;

	float: left;
	display: inline-block;
}

.xiang-small{
	width: 13.1%;
	height: 75px;

	float: left;
	background: #1abc9c;
}

.xiang-shen{
	width: 82%;
	height: 75px;

	float: left;
	margin-left: 4%;
	color: #7E7E7E;
}

h3{
	font-size: 30px;
    color: #1abc9c;
    margin-bottom: 5px;
}

img{
	position:relative;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	border-collapse: collapse;
	width: 60%;
}
